*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header, footer{
    background-color: red;
    color: white;
    text-transform: uppercase;
}
header {
    height: 15vh;
    align-content: center;
}
header nav {
    background-color: blue;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1 {
    top: 0;
    text-align: center;
    height: 50%;
}
header nav a{
    text-decoration: none;
    color: black;
    font-size: large;
    background-color: rgb(204, 204, 255);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
header nav a:hover{
    transition-duration: 1s;
    background-color: red;
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    overflow-y: scroll;
}

thead th, tbody tr td{
    justify-content: space-evenly;
    border: 1px solid black;
    text-align: center;
    height: 50px;
}
