<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" th:href="@{CSS/inventory.css}">
</head>
<body>
    <header>
        <h1>Inventory</h1>
        <nav>
            <a href="http://localhost:8080/item/add">Add new Item</a>
            <a href="http://localhost:8080/sold">View Sells</a>
            <a href="http://localhost:8080/">Home</a>
        </nav>
        
    </header>
    <main>
        <section id="outputSection">
            
        </section>
    </main>
    <footer>
        <h1>POS@2024</h1>
    </footer>
    <script th:src="@{JS/inventory.js}"></script>
</body>
</html>