<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sold Items</title>
    <link rel="stylesheet" th:href="@{CSS/sell.css}">
</head>
<body>
<header>
    <h1 id="heading">Welcome</h1>
    <nav>
        <a href="http://localhost:8080/item/add">Add new Item</a>
        <a href="http://localhost:8080/inventory">View inventory</a>
        <a href="http://localhost:8080/">Home</a>
    </nav>
</header>
<main>
<table></table>
</main>
<script th:src="@{/JS/sell.js}"></script>
</body>
</html>